<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./images/favicon.png">
        <link rel="stylesheet" href="./css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            <h1>{{>header}}</h1>
            <h1>{{ name }}</h1>
            <img class="about-me" src="./images/test.jpg" />
        </div>
    </body>
    {{>footer}}
</html>